/* This CSS is stylings unique for different elements in website */
/* This is done to remove default margin,padding set when navigating browser-to-browser  */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header
{
    margin-left: -13%;
    margin-right: -13%;
    background-color: rgba(255, 171, 147, 0.93);
}
.navbar
{
    height: 80px;
}
.navbar li
{
    list-style: none;
    margin: 0 15px;
  
}
.btn
{
    background-color:#89033f;
    color: white;
    padding: 5px;
    border-radius: 21px;
}
.btn:hover
{
    cursor: pointer;
}

.sect1-left
{
 width: 50%;
 height: 87vh;
 padding-left: 20px;
 padding-top: 30%;

}
.sect1-right
{
    width: 50%;
    height: 87vh;
}
.gym-sect1-right-img
{
    width: 126%;
    height: 169%;

   
}
.dumbelling
{
    border-radius: 50%;
    filter: brightness(1.4);
    position: absolute;
    z-index: -1;
    margin-top: -15%;
    width:20%
}

/* Section 2 pricing styling */
.box
{
    border: 3px solid rgba(255, 171, 147, 0.93);
    margin: 12px 22px;
    width: 15vw;
    
}

.box h3
{
 background-color:rgba(255, 171, 147, 0.93);


}
.box button
{
    width: 65%;
    margin-left: 19%;
    height: 15%;
    margin-bottom: 10%;
    background-color:rgba(255, 171, 147, 0.93);
    border-radius: 10px;
    box-shadow: 3px 3px #8e0a43c9;
    border: 2px solid rgba(241, 238, 237, 0.93);
}

.box button:hover
{
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 0px white;
    border: 2px solid rgba(255, 171, 147, 0.93);
}

.section2 #width
{
    width: 30vw;
}

.section-3 table th
{
    padding: 0px 56px;
    background-color:  rgba(255, 171, 147, 0.93)  ;
    border: 2px #8e0a43c9 solid;
    border-collapse: collapse;
   
}
.section-3 table td{
    padding: 4px 65px;
    border: 2px #8e0a43c9 solid;
    border-collapse: collapse;
}
.section-3 table tr{
    margin: -5px 0px;
}
.section-3 table
{
 border: 2px #8e0a43c9 solid;
 border-collapse: collapse;
}

.contact-form #input
{
  margin: 20vw;
}
.contact-form #subject
{
    margin: 20vw;
}
.contact-form .text
{
 margin:0 20vw;
}
.contact-form button
{
    margin:0 560px;
}
.contact-us
{
    border: 3px solid rgba(255, 171, 147, 0.93)  ;
    border-radius: 3px;
    background-color:rgba(255, 171, 147, 0.93)  ;
}